@page "/settings"

<div>
    <Tab>
        <TabItem Text="菜单管理">
            <Menus />
        </TabItem>
        <TabItem Text="角色管理">
            <Role />
        </TabItem>
        <TabItem Text="用户管理">
            <User />
        </TabItem>
    </Tab>
</div>
